.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  gap: 50px;
}

.text {
  text-align: center;
  text-decoration: dotted;
  color: rgb(186, 190, 193);
  text-shadow: 2px 2px 1px black;
}
